button {
  margin: 0 auto;
  min-width: 9rem;
  width: 30%;
  background-color: $brightBlue;
  color: $darkGreen;
  border: none;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.275rem 0.313rem;
  border-radius: 5px;
  border: 1.5px solid $darkBlue;
  cursor: pointer;
  transition: transform 0.1s linear;
  max-width: 210px;
  letter-spacing: 0.05rem;

  &:active {
    transform: scale(0.97);
  }
}
